<div th:fragment="top">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="icon-leaf"></i>
                    水花一现管理系统
                </small>
            </a><!-- /.brand -->
        </div><!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">

            <ul class="nav ace-nav">

                <li class="light-blue" id="light-blue-off">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle" id="top_user_menu">
                        <img class="nav-user-photo" alt="Jason's Photo" th:src="@{/assets/avatars/user.jpg}"/>
								<span class="user-info">
									<small >欢迎光临,</small>
                                    <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
								</span>

                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#">
                                <i class="icon-cog"></i>
                                设置
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon-user"></i>
                                个人资料
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a th:href="@{/logout}">
                                <i class="icon-off"></i>
                                退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
    </div><!-- /.container -->
    <script th:src="@{/assets/js/jquery-2.0.3.min.js}"></script>
    <script>
        $("#top_user_menu").click(function () {
            if($("#light-blue-off").hasClass("open")) {
                $("#light-blue-off").removeClass("open");
            }else {
                $("#light-blue-off").addClass("open");
            }
        });
    </script>
</div>